html {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.non-selectable-text {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.material-icons {
    @extend .non-selectable-text;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
    padding:
        env(safe-area-inset-top, 20px)
        env(safe-area-inset-right, 20px)
        env(safe-area-inset-bottom, 20px)
        env(safe-area-inset-left, 20px);
}

.date-container {
    display: flex;
    flex: 8;
    padding: 0px 20px;
}

.date-text {
    @extend .non-selectable-text;
    flex: 1;
    font-family: 'Roboto';
    font-size: 10px;
    color: black;
    text-align: center;
}

.time-container {
    display: flex;
    flex: 8;
    height: 56px;
    border-top: 1px solid #c5c5c5;
    justify-content: center;
}

.time-text {
    @extend .non-selectable-text;
    flex: 1;
    font-family: 'Roboto';
    font-size: 10px;
    color: black;
    text-align: center;
    align-self: center;
}

.calendar-card {
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.25), -1px 1px 2.5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    overflow: hidden;
}

.calendar-card-type-text {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 9px;
    margin: 0px;
    padding: 2px 0px;
    height: 10px;
    text-align: center;
    background-color: #BAE1FF;
}

.calendar-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: white;
}

.calendar-card-title-text{
    margin: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 8px;
}

.calendar-card-place-text{
    margin: 0px;
    margin-top: 2px;
    font-family: 'Roboto';
    font-size: 8px;
}


.quarter-container {
    display: flex;
    flex-direction: row;
    margin: 10px 60px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.quarter-text {
    @extend .non-selectable-text;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.scroll-container {
    overflow-y: auto;
    height: 100%;
    padding: 0px 20px;
    background-color: white;
}

.tab-container {
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    padding: 5px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}

.tab-text-container {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-text {
    @extend .non-selectable-text;
    padding: 5px 0px;
}

.course-card {
    position: absolute;
    bottom: -240px;
    height: 210px;
    width: calc(100% - 30px);
    margin: 10px 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.25), -1px 1px 2.5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.course-card-header {
    display: flex;
    background-color: #BAE1FF;
    align-items: flex-start;
    justify-content: space-between;
}

.course-card-code-text {
    @extend .non-selectable-text;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 23px;
    padding: 0px;
    margin: 0px;
}

.course-card-title-text {
    @extend .non-selectable-text;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.course-card-unit-container {
    border-radius: 25px;
    margin: 12px;
    padding: 10px 15px;
    background-color: #EAEAEA;
}

.course-card-unit-text {
    @extend .non-selectable-text;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.course-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-button {
    padding: 10px;
}

.course-card-header-info {
    display: flex;
    margin-left: 16px;
}

.course-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: space-between;
}

.course-card-professor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 36px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.course-card-lecture {
    padding: 0px 36px;
    margin: 0px;
}

.course-card-section-container {
    display: flex;
    margin: 0px;
}

.course-card-professor-text {
    font-family: 'Roboto';
    font-size: 14px;
    color: #034263;
    margin: 0px;
}

.course-card-section-text {
    color: #7D7D7D;
    font-family: 'Roboto';
    font-size: 14px;
    margin: 0px;
    margin-right: 10px;
}

.course-card-section-id {
    font-family: 'Roboto';
    font-size: 14px;
    color: #000000;
    margin: 0px;
}

.course-card-normal {
    display: flex;
    align-items: center;
    flex: 4;
}

.course-card-final {
    display: flex;
    align-items: center;
    flex: 4;
    margin-top: 6px;
    margin-bottom: 10px;
}

.section-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    margin-right: 4px;
    color: #7D7D7D;
}

.section-type-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
}

.section-date-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    margin-right: 4px;
    color: #EAEAEA;
}

.section-date-text-active {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    margin-right: 4px;
    color: #034263;
}

.section-time-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
    flex: 1
}

.section-place-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: right;
    margin-left: 16px;
}

.section-room-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: right;
}


.final-date-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    margin-right: 4px;
    color: #034263;
}

.course-card-action-container {
    display: flex;
    padding: 0px 36px;
    flex: 2;
}

.course-card-grading-container {
    display: flex;
    flex: 1;
    border: 1px solid #034263;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 14px;
    justify-content: center;
    align-items: space-between;
}

.pnp-grading-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
    text-align: center;
}

.letter-grading-text {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 13px;
    color: #034263;
    text-align: center;
}

.drop-text {
    margin: 0px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 13px;
    color: white;
}

.course-card-drop-container {
    flex: 1;
    margin-left: 14px;
    border: 1px solid #034263;
    background-color: #034263;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pnp-grading-container {
    background-color: #034263;
    padding: 6px 0px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.letter-grading-container {
    background-color: white;
    padding: 6px 0px;
    flex: 1;
    justify-content: center;
    align-items: center;
}
